<!-- _SidebarLinks.cshtml -->
@*<li class="nav-item">
    <a class="nav-link" href="/Product">
        Products
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Task">
        Tasks
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" href="/Order">
        Orders
    </a>
</li>*@
<li class="nav-item">
    <a class="nav-link" href="/User">
        Users
    </a>
</li>
@*<li class="nav-item">
    <a class="nav-link" href="/Settings">
        Settings
    </a>
</li>*@
<li class="nav-item">
    <a class="nav-link" href="/User/Logout">
        Logout
    </a>
</li>
